h1{
	color: green;
	font-size:30px;
	text-align: center;
	background-color: black

}
h2{
	color: green;
	font-size:20px;
	text-align: left;
}
h3{
	color: green;
}
h4{
	color: green;
}
body{
	background-color: red;
}
.intro{
	font-style: italic;
	color: purple;
}
#line1{
	color: purple;
}